.notification-item:hover {
  background-color: var(--main-color);
  color: var(--main-color-red);
  cursor: pointer;
}

.modal-banner .header-item-edit {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfbfbf;
}

.modal-banner .id-item-edit {
  margin-top: 10px;
}

.modal-banner .id-item-edit input {
  margin: 5px 0;
  appearance: auto;
  border: none;
}
.modal-banner .id-item-edit input[type="radio"] {
  margin: 5px 10px 20px;
}
.modal-banner .id-item-edit input[type="text"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #bfbfbf;
}

.modal-banner .action-modal {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-banner .action-modal .update {
  background-color: #349eff;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
}
.modal-banner .action-modal .close {
  background-color: white;
  border: 1px solid #349eff;
  color: #349eff;
  padding: 7px 15px;
  border-radius: 5px;
  margin-left: 10px;
}

.header-title {
  display: flex;
  align-items: center;
}
.header-title .btn-header-title {
  background-color: #349eff;
  padding: 10px;
  margin-left: 15px;
  border-radius: 7px;
}
.header-title .btn-header-title:hover {
  background-color: #fb0b12;
}
.header-title .btn-action-header {
  color: white;
}

.form-create-product {
}
.form-create-product .block-form {
  margin: 10px 0;
}

.form-create-product .switch-block-form {
  display: flex;
  justify-content: space-around;
}
.form-create-product .number-block-form {
  display: flex;
  justify-content: space-between;
}
.form-create-product .block-action-form {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.form-create-product .block-action-form button {
  margin-left: 15px;
}

.modal-products.ant-modal {
  width: 800px !important;
}

.ant-picker-dropdown.ant-picker-dropdown-placement-topLeft
  .ant-picker-panel-container
  .ant-picker-panel
  .ant-picker-datetime-panel
  .ant-picker-date-panel
  .ant-picker-body
  .ant-picker-content {
  min-width: 0px !important;
}
